langchain==0.2.14
transformers==4.44.1
sentence_transformers==2.6.1
huggingface-hub==0.24.5
langchain-community==0.2.12
chromadb==0.4.24
langchain-core
PyMuPDF==1.24.1
flask_cors
flask
langchain-core==0.2.33
langchain_huggingface==0.0.3
Werkzeug==3.0.3
langchain-text-splitters==0.2.2
scikit-learn==1.4.1.post1
scipy==1.13.0
numpy==1.26.
pymongo==4.8.0
pandas==2.2.1
scipy==1.13.0