<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <img class="wave" src="{{ url_for('static', filename='images/wave2.png') }}" />
    <div class="container">
        <div class="img">
            <img src="{{ url_for('static', filename='images/bg.png') }}" />
        </div>
        <div class="login-content">
            <!-- Doctor ID Form (Initially Visible) -->
            <form id="doctor-id-form">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="avatar" />
                <h2 class="title">Enter Doctor ID</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" class="input" id="doctor-id" placeholder=" " required />
                        <h5>Doctor ID</h5>
                    </div>
                </div>
                <p id="doctor-id-error-message" style="color: red; display: none;">Incorrect Doctor ID.</p>
                <input type="button" class="btn" value="Next" id="doctor-next-btn" />
            </form>

            <!-- Doctor Password Form (Initially Hidden) -->
            <form id="doctor-password-form" style="display: none;">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="avatar" />
                <h2 class="title" id="doctor-welcome-message">Doctor Password</h2>
                <div class="input-div pass">
                    <div class="i">
                        <i class="bx bx-lock"></i>
                    </div>
                    <div class="div">
                        <input type="password" class="input" id="doctor-password" placeholder=" " required />
                        <h5>Password</h5>
                    </div>
                </div>
                <p id="doctor-password-error-message" style="color: red; display: none;">Incorrect password.</p>
                <input type="button" class="btn" value="Login" id="doctor-pass-btn" />
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
